.h1 {
    -fx-font-weight: bold;
    -fx-font-size: 20px;

}
.h2 {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-fill: #E87722;
}

.h3 {
    -fx-font-size: 14px;
    -fx-fill: #E9457A;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 4px;
    -fx-padding: 2px 4px;
}

#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: dimgray;
}

#copyButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    /*-fx-background-image: url("../images/Background.png"); */
}
